ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a,
p,
h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section {
  padding-top: 40px;
  padding-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1680px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 1680px) {
  .header-container {
    margin-top: 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.header-greeting {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 1680px) {
  .header-greeting {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header-greeting__item + .header-greeting__item {
    margin-left: 60px;
  }
}

.greeting-block-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}

.greeting-block-menu__item {
  font-size: 12px;
}

.greeting-block-menu__item + .greeting-block-menu__item {
  margin-left: 20px;
}

@media screen and (min-width: 1680px) {
  .greeting-block-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .greeting-block-menu__item + .greeting-block-menu__item {
    margin-left: 60px;
  }
}

@media screen and (min-width: 1680px) {
  .greeting-block-menu__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .greeting-block-menu__item__item + .greeting-block-menu__item__item {
    margin-right: 60px;
  }
}

.login-block-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}

.login-block-menu__item + .login-block-menu__item {
  margin-left: 20px;
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  display: inline-block;
  margin-right: 45px;
}

.logo-image {
  height: 40px;
}

@media screen and (min-width: 1680px) {
  .logo-image {
    max-width: 200px;
  }
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation-menu {
  display: none;
}

.navigation-menu__item:not(:last-child) {
  margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .navigation-menu__item:not(:last-child) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1680px) {
  .navigation-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navigation-menu__item:not(:last-child) {
    margin-right: 50px;
  }
}

.mob-navigation {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  height: 100vh;
  width: 100vw;
  z-index: 2;
  padding: 48px 15px 48px 40px;
}

@media screen and (min-width: 1680px) {
  .hero-section {
    background-image: url(../../img/bg/bg-section-hero.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 1080px;
  }
}

@media screen and (min-width: 1680px) {
  .about-section {
    background-image: url(../../img/bg/bg-section-about.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 760px;
  }
}

@media screen and (min-width: 1680px) {
  .product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .product .item + .item {
    width: 768px;
  }
}

@media screen and (min-width: 1680px) {
  .product .item + .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    margin-left: 55px;
  }
}

@media screen and (min-width: 1680px) {
  .special-section {
    background-image: url(../../img/bg/special-proposition.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 1080px;
  }
}

.menu-open-btn {
  display: block;
  background-color: transparent;
  border: none;
}

.menu-open-btn:hover, .menu-open-btn:focus {
  cursor: pointer;
  fill: var(--primary-btn-bg-color);
}

@media screen and (min-width: 1680px) {
  .menu-open-btn {
    display: none;
  }
}

.button {
  font-size: 10px;
  width: 110px;
  height: 30px;
  background: #cda861;
  -webkit-box-shadow: 0px 5px 10px rgba(205, 168, 97, 0.29);
          box-shadow: 0px 5px 10px rgba(205, 168, 97, 0.29);
  border-radius: 25px;
  padding: 8px 11px;
}

@media screen and (min-width: 1680px) {
  .button {
    width: 220px;
    height: 60px;
    border-radius: 50px;
    padding: 16px 23px;
  }
}
/*# sourceMappingURL=main.css.map */