.container {
    width: 100%;    
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    justify-content: center;
    

    @media screen and (min-width:768px) {       
        
    }
    
    @media screen and (min-width:1680px) {
        
    }
}

.section {
    padding-top: 40px;
    padding-bottom: 40px;
    

    @media screen and (min-width:768px) {
        padding-top: 60px;
        padding-bottom: 60px;        
    }
    
    @media screen and (min-width:1680px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }

    
}