.header-container {
    @media screen and (min-width:1680px) {
        // display: flex;
        margin-top: 30px;
        align-items: center;
        text-align: center;
        }
    
}

.header-greeting {
    display: flex;
    justify-content: center;
    
}

.greeting-block {}

.greeting-block-menu {
    @media screen and (min-width:1680px) {
        display: flex;
        &__item + &__item {
            margin-left: 60px;
        }
    
    }
}

.greeting-block-menu__item {
    @media screen and (min-width:1680px) {
        display: flex;
        
        &__item + &__item{
            margin-right: 60px ;
        }        
    }  
}

.login-block {
    
}

.login-block-menu {
    @media screen and (min-width:1680px) {
            display: flex;
            &__item + &__item{
                margin-left: 60px;
            }
        }
    
}

.header-menu {
    @media screen and (min-width:1680px) {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
}

.logo {
    display: block;    
    margin-right: 45px;
}

.logo-image {
    max-width: 200px;
}

.navigation-menu {
    &__item {
        &:not(:last-child) {
            margin-bottom: 50px;
        }
    }

    @media screen and (min-width:768px) {
        &__item {
            &:not(:last-child) {
                margin-bottom: 0;            
            }
        }
    }
    
    @media screen and (min-width:1680px) {
        display: flex;
        &__item {
            &:not(:last-child) {
                    margin-right: 50px;
                } 
        }  
    }  
}



