.header-container {
    @media screen and (min-width:1680px) {
        // display: flex;
        margin-top: 30px;
        align-items: center;
        text-align: center;
        
        }
    
}

.header-greeting {    
    justify-content: center;
    @media screen and (min-width:1680px) {
            display: flex;
    
            &__item+&__item {
                margin-left: 60px;
            }    
        }    
}

.greeting-block-menu {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    &__item{
        font-size: 12px;
    }
    &__item + &__item {
        margin-left: 20px;
    }

    @media screen and (min-width:1680px) {
        display: flex;        
        &__item + &__item {
            margin-left: 60px;
        }
    
    }
}

.greeting-block-menu__item {
    @media screen and (min-width:1680px) {
        display: flex;
        
        &__item + &__item{
            margin-right: 60px ;
        }        
    }  
}

.login-block-menu {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    &__item + &__item {
            margin-left: 20px;
        }

    @media screen and (min-width:1680px) {            
           
        }
    
}

.header-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (min-width:1680px) {
            
            
            
        }
    
}

.logo {
    display: inline-block;    
    margin-right: 45px;
}

.logo-image {
    // width: 100px;
    height: 40px;
    @media screen and (min-width:1680px) {
            max-width: 200px;
        }
    
}

.navigation{
    display: flex;

}

.menu-open-btn{
    display: inline-block;
    

    @media screen and (min-width:1680px) {
            display: none;
        }

}

.navigation-menu {
    display: none;
    &__item {
        &:not(:last-child) {
            margin-bottom: 50px;
        }
    }

    @media screen and (min-width:768px) {
        &__item {
            &:not(:last-child) {
                margin-bottom: 0;            
            }
        }
    }
    
    @media screen and (min-width:1680px) {
        display: flex;
        &__item {
            &:not(:last-child) {
                    margin-right: 50px;
                } 
        }  
    }  
}



