.hero-section{
    @media screen and (min-width:1680px) {
        background-image: url(../../img/bg/bg-section-hero.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        height: 1080px;

    }
    
}