.hero-section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 660px;

    @media screen and (min-width:1680px) {
            &__title {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 600;
                font-size: 76px;
                line-height: 93px;
                color: #34383D;
            }
            
            &__text {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 500;
                font-size: 22px;
                line-height: 26px;
                color: #34383D;
                opacity: 0.8;

                margin-top: 30px;
            }
            
            &--button{
                margin-top: 60px;
            }
        }
    
}