.navigation {
    display: flex;
    align-items: center;
}

.navigation-menu {
    display: none;

    &__item {
        &:not(:last-child) {
            margin-bottom: 50px;
        }
    }

    @media screen and (min-width:768px) {
        &__item {
            &:not(:last-child) {
                margin-bottom: 0;
            }
        }
    }

    @media screen and (min-width:1680px) {
        display: flex;

        &__item {
            &:not(:last-child) {
                margin-right: 50px;
            }
        }
    }
}

.navigation-interactive{
    display: flex;
    margin-left: auto;
    margin-left: 60px;
    &__item+&__item {
            margin-left: 60px;
        }

}