.special-section{

    @media screen and (min-width:1680px) {
        background-image: url(../../img/bg/special-proposition.png);
        background-size: cover;
        background-repeat: no-repeat;
        height: 1080px;

    }
}